/* h1 {
  font-size: 40px;
  color: blue;
}

li{
  color: blueviolet;
}

.johnson{
  color: green;
}

.heading{
  text-decoration: underline;
}

.heading-2{
  color: aqua;
  text-decoration: line-through;
}

img{
  height: 200px;
  width: 200px;
} */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: "Courier New", Courier, monospace;
}

header {
  background-color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  text-align: center;
  padding: 20px;
}

nav {
  margin-top: 10px;
}

nav ol {
  list-style: none;
  text-align: center;
}

nav > ol > li {
  display: inline;
  margin: 10px;
}

nav > ol > li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

section {
  background-color: grey;
  margin: 20px;
  padding: 20px;
}

.projects {
  display: flex;
}

.project {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  /* display inline */
}

.project > img {
  height: 400px;
  width: 400px;
}
